:root{
    --red:#d01c28;
    --gray:#2e2e2e;
}

*{
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
}

.container {
    margin-left: 300px;
    margin-right: 300px;
}


nav {
    display: flex;
    padding: 0 8px;
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-weight: 500;
}